$primaryColor: black;
$secondaryColor: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    header {
        nav {
            justify-content: space-between;
            ul{
                list-style: none;
                margin-right: 2rem;
                li {
                    a {
                        text-decoration: none;
                        color: $primaryColor;
                        padding: .75rem .625rem;
                    }
                }
            }
        }

    }
    main {
        h1 {
            text-transform: uppercase;
            text-align: center;
        }
        section {
            width: 50%;
            margin: 1rem auto;
        }
        form {
            width: 50%;
            margin: 1.25rem auto;
            input {
                margin: 0 auto;
            }
        }
    }
    footer {
        width: 50%;
        margin: 2rem auto;
        section {
            width: 50%;
            h3 {
                text-decoration: underline;
            }
            ul {
                list-style: none;
                li {
                    a {
                        text-decoration: none;
                        color: $primaryColor;
                        padding: .75rem .625rem;
                    }
                }
            }
        }
    }
    .flex {
        display: flex;
    }

    .flex-col {
        flex-direction: column;
    }

    .is-valid {
        color: lime;
    }

    .error {
        color: tomato;
    }
    .rotate {
        animation: rotate 3s 0s infinite linear;
    }
    .pulse {
        animation: pulse 1s 0s infinite ease-in-out;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    0%,100% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
}