$textMainColor: #727272;
$textSecondColor: #1A84CE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    header {
        background: linear-gradient(to bottom, #F0F0F0, #F4F4F4);
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1400px;
            margin: 0 auto;
            h1 {
                font-size: 2.25rem;
                color: $textMainColor;
                span {
                    color: $textSecondColor;
                }
            }
            input {
                max-width: 400px;
                height: 53px;
                margin: 2rem;
            }
        }
    }
    main {
        max-width: 1400px;
        margin: 0 auto;
        h2 {
            font-size: 3.375rem;
            color: black;
            text-align: center;
        }
        p {
            font-size: 2.25rem;
            color: $textMainColor;
        }
        div:first-of-type {
            width: 100%;
            display: flex;
            background: linear-gradient(to bottom, rgba(0, 118, 201, 0.9), rgba(28, 155, 212, 0.9));
            justify-content: center;
            align-items: center;

            p {
                font-size: 3.375rem;
                color: white;
                width: 33%;
                font-weight: 700;
                text-align: center;
                border: 4px solid;
                border-image-slice: 1;
                border-image-source: radial-gradient(white, rgba(44, 156, 213, 1));
                margin: 5rem;
                &:first-of-type {
                    border-top: 0;
                    border-bottom: 0;
                    border-left: 0;
                }
                &:last-of-type {
                    border-top: 0;
                    border-bottom: 0;
                    border-right: 0;
                }
            }
            img {
                width: 33%;
                max-width: 235px;
                max-height: 188px;
                margin: 5rem;
            }
        }
        div:last-of-type {
            display: flex;
            figure {
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    margin: 0 auto;
                }
                figcaption {
                    text-align: center;
                }
            }
        }
    }
}