* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
    header {
        box-shadow: 0 1px 4px rgba($color: #000000, $alpha: .2);
        position: sticky;
        top: 0;
        z-index: 100;
        nav {
            max-width: 1500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            position: relative;
            img {
                width: 75px;
                height: 75px;
                margin-left: 2.25rem;
            }
            ul {
                list-style: none;
                display: flex;
                li {
                    display: flex;
                    a {
                        text-decoration: none;
                        padding: 2.25rem;
                        color: #5F5F5F;
                    }
                }
                &#bMenu {
                    display: none;
                    &.check {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 94px;
                        background: #ECECEC;
                        width: 100%;
                        align-items: center;
                    }
                }
            }
            div#iconBmenu {
                height: 1.25rem;
                width: 2.25rem;
                margin: 2.25rem 0;
                margin-right: 2.25rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: transparent;
                border-radius: 0.25em;
                span.line {
                    background-color: black;
                    border-radius: 1em;
                    width: 2.25rem;
                    height: .1875rem;
                }
                
                span.line1 {
                    transform-origin: 0% 0%;
                    transition: transform 100ms ease-in-out;
                    &.check {
                        width: 2rem;
                        height: .1875rem;
                        display: block;
                        transform: rotate(45deg) translatex(-12.5%);
                    }
                }
                
                span.line3 {
                    transform-origin: 0% 100%;
                    transition: transform 100ms ease-in-out;
                    &.check {
                        width: 2rem;
                        height: .1875rem;
                        display: block;
                        transform: rotate(-45deg) translatex(-20.5%);
                    }
                }
                
                span.line2.check {
                    opacity: 0;
                }
            }
        }
    }
    main {
        h1 {
            text-align: center;
            margin: 4.5rem auto 3.5rem;
            font-weight: 400;
            font-size: 3.375rem;
            line-height: 4.125rem;
            letter-spacing: 5%;
        }
        div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2.25rem;
            padding: .625rem;
            @media screen and (max-width: 1440px) {
                grid-template-columns: repeat(2, 1fr);
            }
            
            article {
                max-width: 445px;
                padding: .625rem;
                gap: 2.25rem;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                .images {
                    display: flex;
                    justify-content: left;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    img {
                        width: 424px;
                        height: 424px;
                    }
                    .loupe {
                        width: 48px;
                        height: 48px;
                        justify-self: baseline;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 1;
                    }
                }
                h2 {
                    text-transform: uppercase;
                    margin: 2.25rem 0;
                    font-weight: 400;
                    font-size: 2.25rem;
                    line-height: 2.75rem;
                    letter-spacing: calc(5%);
                    color: #000000;
                }
                p {
                    font-weight: 400;
                    size: 1.125rem;
                    line-height: 1.375rem;
                    letter-spacing: 5%;
                    color: #000000;
                }
            }
        }
    }
    .modalBg {
        background: rgba($color: #000000, $alpha: .5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        .modalContent {
            position: fixed;
            top: 50%;
            left: 50%;
            background: #ffffff;
            transform: translate(-50%, -50%);
            z-index: 200;
            img {
                height: 770px;
                object-fit: cover;
            }
            p {
                text-align: center;
                &:nth-of-type(1) {
                    font-size: 2.25rem;
                    font-weight: bold;
                }
                &:nth-of-type(2) {
                    font-size: 1.75rem;
                    color: blue
                }
                &:nth-of-type(3) {
                    font-size: 2rem;
                }
            }
            span {
                &.modalNavLeft {
                    font-size: 5rem;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    z-index: 1000;
                    &:hover {
                        cursor: pointer;
                    }
                }
                &.closeBtn {
                    font-size: 3rem;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                &.modalNavRight {
                    font-size: 5rem;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    z-index: 1000;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}